In [1]:
import pandas as pd

In [2]:
import pandas as pd

# Load dataset
df = pd.read_csv("Luxury_Housing_Bangalore.csv")

# Quick look
df.head(5)

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.

In [3]:
df.shape

(101000, 18)

In [4]:
df.isnull().sum()

Property_ID                 0
Micro_Market                0
Project_Name                0
Developer_Name              0
Unit_Size_Sqft          10046
Configuration               0
Ticket_Price_Cr         10019
Transaction_Type            0
Buyer_Type                  0
Purchase_Quarter            0
Connectivity_Score          0
Amenity_Score           10090
Possession_Status           0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
Buyer_Comments          18287
dtype: int64

In [5]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
100995     True
100996     True
100997     True
100998     True
100999     True
Length: 101000, dtype: bool

In [6]:
import pandas as pd
import numpy as np

                                            
                                        # Cleaning Ticket_Price_Cr

                                        
# Copy dataset to avoid modifying original
df_clean = df.copy()

# Step 1: Remove commas and convert to numeric
df_clean['Ticket_Price_Cr'] = (
    df_clean['Ticket_Price_Cr']
    .astype(str)                           # ensure string
    .str.replace(',', '', regex=False)     # remove commas
    .str.extract(r'(\d+\.?\d*)')[0]        # extract only numeric part
    .astype(float)                         # convert to float
)

# Step 2: Check for missing or invalid values

print("Unique count:", df_clean['Ticket_Price_Cr'].nunique())
print("Missing values:", df_clean['Ticket_Price_Cr'].isna().sum())

# Step 3: Quick sanity check
df_clean[['Ticket_Price_Cr']].head(10)

Unique count: 72851
Missing values: 10019

   Ticket_Price_Cr
0        12.750846
1        16.292152
2        10.517724
3         9.396367
4        15.345392
5         9.820000
6        10.896752
7         9.357539
8        12.299449
9         9.193310

In [7]:
df.columns

Index(['Property_ID', 'Micro_Market', 'Project_Name', 'Developer_Name',
       'Unit_Size_Sqft', 'Configuration', 'Ticket_Price_Cr',
       'Transaction_Type', 'Buyer_Type', 'Purchase_Quarter',
       'Connectivity_Score', 'Amenity_Score', 'Possession_Status',
       'Sales_Channel', 'NRI_Buyer', 'Locality_Infra_Score',
       'Avg_Traffic_Time_Min', 'Buyer_Comments'],
      dtype='object')

In [8]:
df['Ticket_Price_Cr']

0         12.750846039118798
1         16.292151871065954
2         10.517724412961911
3          9.396367494232896
4         15.345392444511946
                 ...
100995     11.33081004147843
100996    10.829373158307602
100997    11.183303152058548
100998    10.914156376035923
100999             ₹13.27 Cr
Name: Ticket_Price_Cr, Length: 101000, dtype: object

In [9]:
                                    # Cleaning Unit_Size_Sqft

# Step 1: Convert to string
df_clean['Unit_Size_Sqft'] = df_clean['Unit_Size_Sqft'].astype(str)

# Step 2: Handle ranges like "1200-1500" → take average
def parse_area(value):
    # Extract numbers
    nums = [float(x) for x in value.replace(',', '').split('-') if x.strip().replace('.', '').isdigit()]
    if len(nums) == 1:   # single value
        return nums[0]
    elif len(nums) == 2: # range -> average
        return sum(nums) / 2
    else:
        return np.nan    # invalid or text

df_clean['Unit_Size_Sqft'] = df_clean['Unit_Size_Sqft'].apply(parse_area)

# Step 3: Convert to float
df_clean['Unit_Size_Sqft'] = df_clean['Unit_Size_Sqft'].astype(float)

# Step 4: Check results
print("Unique count:", df_clean['Unit_Size_Sqft'].nunique())
print("Missing values:", df_clean['Unit_Size_Sqft'].isna().sum())
df_clean[['Unit_Size_Sqft']].head(10)

Unique count: 6001
Missing values: 10046

   Unit_Size_Sqft
0          4025.0
1          5760.0
2          7707.0
3          6192.0
4          7147.0
5          4290.0
6          6776.0
7          5763.0
8          5815.0
9          8675.0

In [10]:
# Check missing values across all columns
df_clean.isnull().sum()

Property_ID                 0
Micro_Market                0
Project_Name                0
Developer_Name              0
Unit_Size_Sqft          10046
Configuration               0
Ticket_Price_Cr         10019
Transaction_Type            0
Buyer_Type                  0
Purchase_Quarter            0
Connectivity_Score          0
Amenity_Score           10090
Possession_Status           0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
Buyer_Comments          18287
dtype: int64

In [11]:
import numpy as np

# --------------------------------------------------------
# STEP 1: Check initial missing values
# --------------------------------------------------------
print("Missing values before handling:\n")
print(df_clean.isnull().sum())

# --------------------------------------------------------
# STEP 2: Handle numeric columns (Ticket_Price_Cr, Unit_Size_Sqft, Amenity_Score, etc.)
# Strategy: Replace nulls with the column median 
# --------------------------------------------------------
num_cols = df_clean.select_dtypes(include=['float64','int64']).columns

# Build a dictionary: {column_name : median_value}
num_fill_dict = {col: df_clean[col].median() for col in num_cols}

# Apply fillna once for all numeric columns
df_clean.fillna(num_fill_dict, inplace=True)

# --------------------------------------------------------
# STEP 3: Handle categorical columns (Developer_Name, Booking_Status, Possession_Status, etc.)
# Strategy: Replace nulls with "Unknown"
# --------------------------------------------------------
cat_cols = df_clean.select_dtypes(include=['object']).columns

# Build a dictionary: {column_name : "Unknown"}
cat_fill_dict = {col: "Unknown" for col in cat_cols}

# Apply fillna once for all categorical columns
df_clean.fillna(cat_fill_dict, inplace=True)

# --------------------------------------------------------
# STEP 4: (Optional) Drop columns with >50% null values (if any remain)
# --------------------------------------------------------
threshold = 0.5 * len(df_clean)  # 50% of rows
df_clean.dropna(axis=1, thresh=threshold, inplace=True)

# --------------------------------------------------------
# STEP 5: Verify that nulls are handled
# --------------------------------------------------------
print("\nMissing values after handling:\n")
print(df_clean.isnull().sum())

Missing values before handling:

Property_ID                 0
Micro_Market                0
Project_Name                0
Developer_Name              0
Unit_Size_Sqft          10046
Configuration               0
Ticket_Price_Cr         10019
Transaction_Type            0
Buyer_Type                  0
Purchase_Quarter            0
Connectivity_Score          0
Amenity_Score           10090
Possession_Status           0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
Buyer_Comments          18287
dtype: int64

Missing values after handling:

Property_ID             0
Micro_Market            0
Project_Name            0
Developer_Name          0
Unit_Size_Sqft          0
Configuration           0
Ticket_Price_Cr         0
Transaction_Type        0
Buyer_Type              0
Purchase_Quarter        0
Connectivity_Score      0
Amenity_Score           0
Possession_Status       0
Sales_Channel           0
NRI_Buyer               0
Locality_Infra_Score    0
Avg_Traffic_Time_Min    0
Buyer_Comments          0
dtype: int64

In [12]:
# --------------------------------------------------------
# STEP 1: Price per Sqft (₹ per square foot)
# Ticket_Price_Cr is in Crores → convert to Rupees (1 Cr = 10,000,000)
# Formula: (Price in ₹) / Unit_Size_Sqft
# --------------------------------------------------------
if "Ticket_Price_Cr" in df_clean.columns and "Unit_Size_Sqft" in df_clean.columns:
    df_clean['Price_per_Sqft'] = (
        df_clean['Ticket_Price_Cr'] * 10000000
    ) / df_clean['Unit_Size_Sqft']

# --------------------------------------------------------
# STEP 2: Quarter Number (if we have a booking or sale date column)
# Example: if you have a column like "Booking_Date" or "Sale_Date"
# --------------------------------------------------------
date_col = None
for col in df_clean.columns:
    if "date" in col.lower():   # try to auto-detect
        date_col = col
        break

if date_col:
    # Convert to datetime safely
    df_clean[date_col] = pd.to_datetime(df_clean[date_col], errors='coerce')
    
    # Extract year, month, quarter
    df_clean['Year'] = df_clean[date_col].dt.year
    df_clean['Month'] = df_clean[date_col].dt.month
    df_clean['Quarter_Number'] = df_clean[date_col].dt.quarter
else:
    print("No date column found for Quarter_Number derivation")

# --------------------------------------------------------
# STEP 3: Booking Flag (1 if booked, 0 otherwise)
# Works on Booking_Status or similar column
# --------------------------------------------------------
status_col = None
for col in df_clean.columns:
    if "booking" in col.lower() or "status" in col.lower():
        status_col = col
        break

if status_col:
    df_clean['Booking_Flag'] = df_clean[status_col].apply(
        lambda x: 1 if str(x).strip().lower() in ["booked", "confirmed", "sold"] else 0
    )
else:
    print("No Booking_Status column found for Booking_Flag derivation")

# --------------------------------------------------------
# STEP 4: Quick preview of new columns
# --------------------------------------------------------
df_clean.head(10)

No date column found for Quarter_Number derivation

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments,Price_per_Sqft,Booking_Flag
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!,31679.120594,0
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292152,Primary,Other,2024-06-30,4.839024,7.499123,Under construction,NRI Desk,no,7.723898,106,Unknown,28284.985887,0
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.,13646.976013,0
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!,15175.012103,0
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.,21471.096187,0
5,PROP000006,YELAHANKA,Project_5,Brigade,4290.0,4bhk,9.820000,Secondary,HNI,2023-09-30,7.936068,7.499123,Launch,Online,no,5.154027,16,Underpriced for location.,22890.442890,0
6,PROP000007,Bannerghatta Road,Project_6,Prestige,6776.0,5BHK+,10.896752,Secondary,Other,2025-03-31,8.643117,8.355238,Under construction,Direct,no,9.791550,74,Too far from my office.,16081.393675,0
7,PROP000008,whitefield,Project_7,Total Environment,5763.0,3BHK,9.357539,Secondary,NRI,2025-03-31,6.781306,9.565013,Under construction,Direct,yes,9.054713,31,Unknown,16237.270421,0
8,PROP000009,sarjapur road,Project_8,Prestige,5815.0,3Bhk,12.299449,Secondary,Other,2024-03-31,7.284164,5.580442,Under construction,NRI Desk,yes,8.552046,68,Unknown,21151.245761,0
9,PROP000010,JP NAGAR,Project_9,Puravankara,8675.0,4Bhk,9.193310,Primary,CXO,2023-09-30,9.964399,7.759907,Launch,Direct,yes,8.395691,18,Too far from my office.,10597.475826,0

In [13]:
# --------------------------------------------------------
# STEP 1: Save cleaned dataframe as a new CSV
# --------------------------------------------------------
output_path = "Luxury_Housing_Bangalore_Cleaned.csv"
df_clean.to_csv(output_path, index=False)

print(f"✅ Cleaned data exported successfully to: {output_path}")

✅ Cleaned data exported successfully to: Luxury_Housing_Bangalore_Cleaned.csv

In [14]:
df_clean.head()

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments,Price_per_Sqft,Booking_Flag
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!,31679.120594,0
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292152,Primary,Other,2024-06-30,4.839024,7.499123,Under construction,NRI Desk,no,7.723898,106,Unknown,28284.985887,0
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.,13646.976013,0
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!,15175.012103,0
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.,21471.096187,0

In [15]:
                        # Connect + Load Clean Data + Validate

In [16]:
import pandas as pd
import urllib.parse
from sqlalchemy import create_engine, text  # note the 'text' import

# -------------------------
# Replace with your actual MySQL credentials
# -------------------------
DB_USER = "root"  # your MySQL username
DB_PASS = urllib.parse.quote_plus("Ponnusamy@2730")  # your password
DB_HOST = "localhost"
DB_PORT = "3306"
DB_NAME = "project_db"

# -------------------------
# Create connection
# -------------------------
conn_str = f"mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(conn_str, pool_pre_ping=True)

# -------------------------
# Test the connection
# -------------------------
try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT NOW();"))  # wrap SQL in text()
        print("✅ Connected to MySQL. Current time:", result.fetchone()[0])
except Exception as e:
    print("❌ Connection failed:", e)

✅ Connected to MySQL. Current time: 2025-09-22 12:15:40

In [17]:
import pandas as pd

# Load CSV (adjust path to where your file is stored)
df = pd.read_csv("Luxury_Housing_Bangalore_Cleaned.csv")

# Upload into MySQL table
df.to_sql("luxury_housing", engine, if_exists="replace", index=False)

print("✅ Data uploaded into MySQL table: luxury_housing")

✅ Data uploaded into MySQL table: luxury_housing

In [18]:
                                    # Count total rows
with engine.connect() as conn:
    result = conn.execute(text("SELECT COUNT(*) FROM luxury_housing;"))
    print("Total rows:", result.fetchone()[0])

Total rows: 101000

In [19]:
with engine.connect() as conn:
    result = conn.execute(text("SHOW TABLES;"))
    for row in result:
        print(row)

('luxury_housing',)

In [20]:
import pandas as pd

df = pd.read_csv("Luxury_Housing_Bangalore_Cleaned.csv")
print(df.columns)

Index(['Property_ID', 'Micro_Market', 'Project_Name', 'Developer_Name',
       'Unit_Size_Sqft', 'Configuration', 'Ticket_Price_Cr',
       'Transaction_Type', 'Buyer_Type', 'Purchase_Quarter',
       'Connectivity_Score', 'Amenity_Score', 'Possession_Status',
       'Sales_Channel', 'NRI_Buyer', 'Locality_Infra_Score',
       'Avg_Traffic_Time_Min', 'Buyer_Comments', 'Price_per_Sqft',
       'Booking_Flag'],
      dtype='object')

In [21]:
with engine.connect() as conn:
    result = conn.execute(text("SHOW TABLES;"))
    for row in result:
        print(row)

('luxury_housing',)

In [22]:
# Inspect Columns in MySQL

with engine.connect() as conn:
    result = conn.execute(text("SHOW COLUMNS FROM luxury_housing;"))
    for row in result:
        print(row)

('Property_ID', 'text', 'YES', '', None, '')
('Micro_Market', 'text', 'YES', '', None, '')
('Project_Name', 'text', 'YES', '', None, '')
('Developer_Name', 'text', 'YES', '', None, '')
('Unit_Size_Sqft', 'double', 'YES', '', None, '')
('Configuration', 'text', 'YES', '', None, '')
('Ticket_Price_Cr', 'double', 'YES', '', None, '')
('Transaction_Type', 'text', 'YES', '', None, '')
('Buyer_Type', 'text', 'YES', '', None, '')
('Purchase_Quarter', 'text', 'YES', '', None, '')
('Connectivity_Score', 'double', 'YES', '', None, '')
('Amenity_Score', 'double', 'YES', '', None, '')
('Possession_Status', 'text', 'YES', '', None, '')
('Sales_Channel', 'text', 'YES', '', None, '')
('NRI_Buyer', 'text', 'YES', '', None, '')
('Locality_Infra_Score', 'double', 'YES', '', None, '')
('Avg_Traffic_Time_Min', 'bigint', 'YES', '', None, '')
('Buyer_Comments', 'text', 'YES', '', None, '')
('Price_per_Sqft', 'double', 'YES', '', None, '')
('Booking_Flag', 'bigint', 'YES', '', None, '')

In [23]:
with engine.connect() as conn:
    result = conn.execute(text("SHOW COLUMNS FROM luxury_housing;"))
    for row in result:
        print(row[0])

Property_ID
Micro_Market
Project_Name
Developer_Name
Unit_Size_Sqft
Configuration
Ticket_Price_Cr
Transaction_Type
Buyer_Type
Purchase_Quarter
Connectivity_Score
Amenity_Score
Possession_Status
Sales_Channel
NRI_Buyer
Locality_Infra_Score
Avg_Traffic_Time_Min
Buyer_Comments
Price_per_Sqft
Booking_Flag